[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
datadir = /var/lib/mysql

# Permitir conexiones desde otros contenedores.
bind-address = 192.168.20.14

skip-networking = 0
max_connections = 100
connect_timeout = 10
wait_timeout = 600
max_allowed_packet = 16M
log_error = /var/log/mysql/error.log
general_log = 1
general_log_file = /var/log/mysql/general.log

